.ai-image-generator{
    display:flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
}
.header{
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
}

.header span {
    font-weight: 600;
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.img-loading{
    display: flex;
    flex-direction: column;

}

.img-loading img{
    width: 512px;
}

.search-box{
    display: flex;
    width: 1000px;
    height: 95px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #1F3540;
}
.search-input{
    width: 600px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    padding-left: 35px;
    margin-right: 35px;
}
.search-input::placeholder{
    color: #999;
}

.generate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height:85px;
    font-size: 20px;
    border-radius: 50px;
    background: #DE1B89;
    cursor: pointer;
}
.generate-btn:hover{
    animation: btnAnimation .6s ease-in-out infinite;
}
@keyframes btnAnimation {
    from {
        background: #6666ff;
    }
    10% {
        background: #0099ff;
    }
    50% {
        background: #00ff00;
    }
    75% {
        background: #ff3399;
    }
    100% {
        background: #6666ff;
    }
}
.loading-bar{
    width:0px;
    height: 8px;
    background: #DE1B89;
}
.loading-text{
    font-size: 18px;
}
.loading-bar-full{
    width:512px;
    height: 8px;
    background: #DE1B89;
    transition: 15s;
}
.display-none{
    display: none;
}